{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"],
        "node": "8.9.0"
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-jsx",
    ["babel-plugin-jsx-pragmatic", {
      "module": "react",
      "import": "React"
    }]
  ]
}
